<?xml version="1.0" encoding="utf-8"?>

<!--This config is required for Build Automation-->
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="pars_core_nuget" value="https://azuredevops.lcwaikiki.com/CounterStrike/_packaging/pars_core_nuget/nuget/v3/index.json" />
  </packageSources>
</configuration>